body{
    font-family: sans-serif;
    color: #333333;
    text-align: center;
}
.main{
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    padding: 22px;
    margin: auto;
    display: inline-block;
    cursor: pointer;
    margin-top: 32px;
}
.ondragover{
    background-color: #2edcfc;
}